@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --muted-text: #a3a3a3;
    --navbar-height: 4rem;
    --scroll: 0;
    --vh: 0;
    --about-me-top: 0;
  }
}

@layer components {
  .center {
    @apply flex items-center justify-center;
  }
}

::-webkit-scrollbar {
  width: 0px;
}
