@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --muted-text: #a3a3a3;
    --navbar-height: 4rem;
    --scroll: 0;
  }
}

@layer components {
  .center {
    @apply flex items-center justify-center;
  }

  .timeline-scroll {
    animation-timeline: scroll(block);
  }
}

::-webkit-scrollbar {
  width: 6px;
}