@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

h1 {
    @apply font-bold;
}

h2 {
    @apply font-semibold;
}

h3 {
    @apply font-medium;
}

h4 {
    @apply font-normal;
}

h5 {
    @apply font-light;
}

h6 {
    @apply font-thin;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid;
    box-sizing: border-box;
    position: relative;
    transform-origin: left;
    animation: l2 1s infinite linear 0.25s;
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    inset: 0 0 auto;
    margin: auto;
    width: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid;
    box-sizing: content-box;
    transform-origin: 50% calc(100% - 4px);
    animation: inherit;
}

.loader::after {
    inset: auto 0 calc(100% + 2px);
    animation-duration: 0.5s;
    animation-direction: reverse;
    transform-origin: 50% calc(200% - 2px);
}

.loader-wrapper {
    animation: scaleDown 1.25s ease-in 0.75s forwards, fadeOut 1s ease-in 1s forwards;
    -webkit-animation: scaleDown 1.25s ease-in 0.75s forwards, fadeOut 1s ease-in 1s forwards;
    -o-animation: scaleDown 1.25s ease-in 0.75s forwards, fadeOut 1s ease-in 1s forwards;
}

.loading {
    -webkit-animation: fadeOut 1s ease-out 1s forwards;
    -o-animation: fadeOut 1s ease-out 1s forwards;
    animation: fadeOut 1s ease-out 1s forwards;
}

.absolute-center {
    @apply absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2;
}

@keyframes l2 {
    100% {
        transform: rotate(1turn)
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
